<h2><%= pageTitle %></h2>
<a href="/stationary/add" class="btn btn-info">Add New Stationary</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Tags</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% for( let index = 0; index < stationary.length; index++ ) { %>
    <tr>
      <td><%=stationary[index].title %></td>
      <td><%=stationary[index].price %></td>
      <td><%=stationary[index].quantity %></td>
      <td><%=stationary[index].tags %></td>
      <td>
        <a
          href="/stationary/edit/<%=stationary[index]._id  %>"
          class="btn btn-warning btn-sm"
          >Edit</a
        >
      </td>
      <td>
        <a
          href="/stationary/delete/<%=stationary[index]._id  %>"
          class="btn btn-danger btn-sm"
          >Delete</a
        >
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
